# Add bleach for sanitization
bleach==6.1.0

# Add these to requirements.txt
Django==5.2
djangorestframework==3.16.0
django-cors-headers==4.7.0
django-filter==25.1

# Security packages
django-secure==1.0.2